.scheme-container{
	display: none;
}

.opblock-summary-method{
	display:none;
}

.swagger-ui .opblock .opblock-summary-path {
	display:none;
}

.swagger-ui .opblock .opblock-summary-description {
	font-size: 16px;
	display: flex;
	align-items: center;
	word-break: break-word;
	padding: 0 10px;
	font-family: monospace;
	font-weight: 600;
	color: #3b4151;
}

.authorization__btn{
	display:none;
}

.swagger-ui .dialog-ux {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
