<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Mesibo Playground</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body ng-app="MesiboPlayground" id="mesiboapiplay" ng-controller="AppController"> 
		<nav class="navbar navbar-light" style="background-color: #00868b;">
			<a href="https://mesibo.com/"><img class="logo" src="https://mesibo.com/images/mesibo-logo-white.png" alt="Mesibo" title="Mesibo" style="width: 16opx; height: 50px;"></a>
			<span class="navbar-brand mb-0 h1" style="color:white"> Backend APIs</span>
		</nav>
		<br>
		<div style="margin-left: 95px;">
			<p>This is a playground for trying out <a rel="noopener noreferrer" target="_blank" href="https://mesibo.com/documentation/api/backend-api">Mesibo Backend APIs</a>.<br>
			You need an <code>Application token</code> to try the APIs. You can get token from the <a rel="noopener noreferrer" target="_blank" href="https://mesibo.com/console">Mesibo Console</a>.<br>
			<!--
			<img src="https://mesibo.com/documentation/tutorials/get-started/images/app-token.jpg" width="900">
			-->
			<div class="form-group">
				<label for="usr"><strong>Enter the App Token:</strong></label>
				<input style="width:900px;" type="text" class="form-control" id="apptoken">
			</div>
			<button type="button" class="btn btn-success" onclick="setToken()">Save</button>
			
			<div id="accordion" ng-repeat="a in apis track by $index" style="margin-top: 5px;">
				<div class="card" style="box-shadow: 0 0 3px rgba(0,0,0,.19); border-radius: 4px; border: 1px solid #000;border-color: #49cc90;background: rgba(73,204,144,.1);">
					<div class="card-header" id="heading-$index">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse-{{$index}}">
								{{apis[$index].title}}
							</button>
						</h5>
					</div>

					<div id="collapse-{{$index}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
						<div class="card-body">
							<span>{{apis[$index].description}}<span>
							<br>
							<br>
							<div>
								<span><strong> Request URL: </strong></span>
								<input type="url" style="box-shadow: 0 0 3px rgba(0,0,0,.19); border-radius: 4px; border: 1px solid #000;width: 100%; background-color: #3b4151; color: white;" id="rurl" value="https://api.mesibo.com/api.php?op=useradd&addr=abc&appid=abc&expiry=525600&active=1">
							</div>
							
							<br>
							<div>
								<span style="margin-top: 5px;"> <strong>Parameters: </strong> </span>
								<br>
								<br>

								<div ng-repeat="p in a.params" style="margin-top: 2px;">
									<span>{{p.description}}</span>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">{{p.name}}</span>
										</div>
										<input type="text" class="form-control" placeholder="{{p.placeholder}}">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<script src="controller.js" type="text/javascript"></script>	
	</body>
</html>
