<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mesibo Playground</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <style>
      sup { vertical-align: top; position: relative; top: -0.5em; }

      input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	  }

	  /* Firefox */
	  input[type=number] {
		-moz-appearance: textfield;
	  }

	  .btn.btn-dark:disabled{
		background-color: #A9A9A9;
		border: none;
		outline:none;
	  }

	  textarea {
		    padding: 10px;
		    background-color: transparent;
		    font-family: monospace;
		}

		.navbar-nav li a {
		    line-height: 70px;
		}

		.navbar-nav li img {
		    vertical-align: bottom;
		}
    </style>
  </head>
  <body ng-cloak="apis" ng-app="MesiboPlayground" id="mesiboapiplay" ng-controller="AppController">
    <nav class="navbar navbar-light" style="background-color: #00868b;">
      <a href="https://mesibo.com/"><img class="logo" src="https://mesibo.com/images/mesibo-logo-white.png" alt="Mesibo" title="Mesibo" style="width: 160px;"></a>        
      
      <div class="ml-auto">
      	 <span class="navbar-brand mb-0 h1" style="color:white; cursor: default;" ng-show="!token"> Backend API Playground </span>
      	 <span style="color: white;" ng-show="app_name && app_aid">{{app_name}}({{app_aid}})</span>
	   	 <button type="button" ng-show="token" class="btn btn-danger" onclick="window.location.reload(true);" style="align-self:right;">Logout</button>  
      </div>
     
    </nav>
    <br ng-if="!token">
    <div class="mx-5">      
      <div ng-show="!token">
      	<h3 style="color: #00868b"> Backend API Playground </h3>
      	<p>This is an interactive playground for trying out REST based <a rel="noopener noreferrer" target="_blank" href="https://mesibo.com/documentation/api/backend-api">Mesibo Backend APIs</a>. You can administer your account, manage apps, manage users and groups etc using backend APIs. Refer to <a href="https://mesibo.com/documentation/api/backend-api/"> Backend API Documentation </a> to know more.</p>

      	<p>To use the API Playground, you need to login with your secret <code>Application token</code>. Get the token from your <a rel="noopener noreferrer" target="_blank" href="https://mesibo.com/console">Console</a> and enter it below.</p>
	      <img  id="img-apptoken" src="app-token.jpg" width="600">
	      <div class="form-group">
	        <label for="usr"><strong>Enter the App Token:</strong></label>
	        <input style="width:900px;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" class="form-control" id="apptoken">
	      	<span style="color: red;" ng-show= "token_error "id="token-error"> Enter a valid token </span>
	      </div>	      
	      <button type="button" id="save-token-button" class="btn btn-success" ng-click="setToken()"><i class="fa fa-rocket" aria-hidden="true"></i> Get Started</button>
      </div>
      <div id="accordion" ng-repeat="a in apis track by $index" style="margin-top: 5px;">
        <div class="card" id="api-card-{{$index}}" style="box-shadow: 0 0 3px rgba(0,0,0,.19); border-radius: 4px; border: 1px solid #000;border-color: #49cc90;background: rgba(73,204,144,.1);">
          <div class="card-header" id="heading-$index" style="background-color: #00868b">
            <h5 class="mb-0">
              <button class="btn" style="background-color: transparent; color: white;" data-toggle="collapse" data-target="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse-{{$index}}">
              {{apis[$index].title}}
              </button>
            </h5>
          </div>
          <div id="collapse-{{$index}}" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <span id="api-description-{{a.op}}" ng-init="setApiDescription(apis[$index])"></span>       
              <br>
              <br>
              <div class="row">	              
	              <div class="col-6">
	                <span> <strong>Parameters: </strong> </span>
	                <br>	               
	                <div ng-repeat="p in a.params track by p.name" style="margin-top: 2px;">	                	
	                    <label ng-if="p.platforms">Platform: </label>
	                    <select ng-if="p.platforms" ng-init="updateDescription(a, p)" ng-change="updateDescription(a, p)" ng-model="p.platform">
						   <option ng-repeat="platform in p.platforms track by $index" ng-selected="$first" ng-value="platform"> {{platform}}</option>
						</select>
						<br ng-if="p.platforms">
		                <span id="param-description-{{p.name}}">{{p.description}}</span>
		                <br>
	                  	<span ng-show="p.error" style="color: red; color:red; font-size: 10px; font-family: 'monospace';">{{p.error}}</span>
		                <div class="input-group mb-3 my-1">
		                	<div class="input-group-prepend">
		                      <span class="input-group-text" >{{p.name}}<sup ng-init="p.req = p.required ? 'required' : 'optional' " ng-style="{'color':getReqColor(p)}" style="font-size: 10px; font-family: 'monospace';" > &nbsp; *{{p.req}}</sup></span>
		                    </div>
		                    <input type="text" class="form-control" placeholder="{{p.placeholder}}" ng-blur="checkValidParam(a, p)" ng-change="checkValidParam(a, p); a.requestUrl = getRequestUrl(a)" ng-if="p.type == 'string' && !p.valueList" custom-autofocus="$first" id="input-param-{{a.op}}-{{p.name}}" ng-model="p.value" ng-required="p.required">
		                    <input type="number" class="form-control" placeholder="{{p.placeholder}}" ng-blur="checkValidParam(a, p)" ng-change="checkValidParam(a, p);a.requestUrl = getRequestUrl(a)"  ng-if="p.type == 'number' && !p.valueList" custom-autofocus="$first" id="input-param-{{a.op}}-{{p.name}}" ng-model="p.value" ng-required="p.required">
		                    <select id="input-param-{{a.op}}-{{p.name}}" ng-change="a.requestUrl = getRequestUrl(a)" ng-model="p.value" ng-if="p.valueList">
							   <option ng-repeat="v in p.valueList" ng-selected="$first" ng-value="v"> {{v}}</option>								   	
							</select>							
		                </div>		                
	                </div>
	              </div>
	              <div class="col-6">
	                <span><strong> Request: </strong></span>
	                <br>	             
	                
	                <div class="row h-50 no-gutters">
		                <div class="form-group col-12">
		                    <div class="input-group">
		                      <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" rows="6" style="box-shadow: 0 0 3px rgba(0,0,0,.19); border-radius: 4px; border: 1px solid grey; width: 100%;" id="request-{{apis[$index].op}}" ng-model="apis[$index].requestUrl">
		                      </textarea>
			                </div>
			                <span><button  ng-disabled="!isRequiredParamsValid(apis[$index])" ng-click="copyText('request-'+ apis[$index].op)" style="background-color: #00868b; color: white" class="btn my-1"><i class="fa fa-copy"></i> Copy Request</button></span>
		                    <span class="mx-1"><button ng-disabled="!isRequiredParamsValid(apis[$index])" ng-click="runRequest(apis[$index])" style="background-color: #00868b; color: white" class="btn my-1"><i class="fa fa-play"></i> Execute</button>
		                    </span>
		                </div>
	                </div>

	                <span><strong> Response: </strong></span>
	                <br>	                

	                <div class="row h-50 no-gutters">
		                <div class="form-group col-12">
		                  <div class="input-group">
		                    <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" rows="6" type="url" style="box-shadow: 0 0 3px rgba(0,0,0,.19); border-radius: 4px; border: 1px solid grey;width: 100%; border: 1px solid black" id="response-{{apis[$index].op}}" ng-model="apis[$index].response">
		                    </textarea>		                    
		                  </div>
		                  <span><button ng-disabled="!apis[$index].response" ng-click="copyText('response-'+ apis[$index].op)" style="background-color: #00868b; color: white"  class="btn my-1"><i class="fa fa-copy"></i> Copy Response</button></span>
		                </div>
	                </div>

	              </div>
	          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="controller.js" type="text/javascript"></script>	
  </body>
</html>